# IntelliJ artifacts
.idea/workspace.xml
build

# Libraries from Maven...
lib/*.jar

# ANTLR artifacts.
Daja.tokens
DajaBaseListener.java
DajaBaseVisitor.java
DajaLexer.java
DajaLexer.tokens
DajaListener.java
DajaParser.java
DajaVisitor.java

Logic/src/org/pchapin/daja/logic/LogicLexer.java
Logic/src/org/pchapin/daja/logic/LogicLexer.tokens
